# Directories
vendor
hack/deployment/**/*.json
hack/deployment/**/*.yaml
charts/**/*.tgz
release
archive

# Files
.envrc
kubeconfig.yaml
test-*.yaml
chart/charts/*.tgz
droplet.json
envoy-values.yaml
helm-values.yaml