site_name: Atlas
site_url: https://goatlas.io/docs/
repo_name: goatlas-io/atlas
repo_url: https://github.com/goatlas-io/atlas
edit_uri: ""

site_dir: public

theme:
  name: material
  language: en
  palette:
    scheme: preference
    primary: blue
    accent: indigo
  features:
    - navigation.sections

plugins:
  - search

markdown_extensions:
  - admonition
  - codehilite:
      guess_lang: false
  - toc:
      permalink: true
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.highlight

nav:
  - Home: index.md
  - Quick Start: quick-start.md
  - F.A.Q.: faq.md
  - Components: components.md
  - Configuration: configuration.md
  - Deployment: deployment.md
  - Development: development.md
