---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: atlas-envoy
  namespace: {{ .Namespace }}
spec:
  chart: https://charts.goatlas.io/envoy-1.0.1.tgz
  valuesContent: |
{{ .Values | indent 4 }}