---
apiVersion: source.toolkit.fluxcd.io/v1beta1
kind: HelmRepository
metadata:
  name: atlas
  namespace: {{ .Namespace }}
spec:
  url: https://charts.goatlas.io
  interval: 24h
---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: atlas-envoy
  namespace: {{ .Namespace }}
spec:
  releaseName: atlas-envoy
  interval: 2m
  chart:
    spec:
      chart: envoy
      version: 1.2.0
      sourceRef:
        kind: HelmRepository
        name: atlas
  values:
{{ .Values | indent 4 }}