---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: atlas-envoy
  namespace: {{ .Namespace }}
spec:
  chart: https://charts.helm.sh/stable/packages/envoy-1.9.4.tgz
  valuesContent: |
{{ .Values | indent 4 }}