---
apiVersion: source.toolkit.fluxcd.io/v1beta1
kind: HelmRepository
metadata:
  name: atlas-helm-stable
  namespace: {{ .Namespace }}
spec:
  url: https://charts.helm.sh/stable
  interval: 24h
---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: atlas-thanos
  namespace: {{ .Namespace }}
spec:
  releaseName: atlas-thanos
  interval: 2m
  chart:
    spec:
      chart: envoy
      version: 1.9.4
      sourceRef:
        kind: HelmRepository
        name: atlas-helm-stable
  values:
{{ .Values | indent 4 }}