name: release-charts

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  charts:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Publish Helm charts
        uses: stefanprodan/helm-gh-pages@master
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          charts_url: https://charts.goatlas.io/
          owner: goatlas-io
          repository: charts
          branch: gh-pages
          target_dir: charts
