name: release-charts

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  charts:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Publish Helm charts
        uses: stefanprodan/helm-gh-pages@v1.4.1
        with:
          charts_dir: charts
          charts_url: https://charts.goatlas.io
          owner: goatlas-io
          repository: charts
          branch: gh-pages
          linting: off
